<div id="main_content">
  <div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "http://test1.snobmonkey.com/wp-content/uploads/2017/05/monkey-marker.png" %>
	 </div>
  <div id="content">
		  <h1>DEVELOPMENT ERROR \-- static page is still being built --/</h1>
		  <p>^^^ not by him, he's just monkeying around</p>
	 </div>
  </div>
<div id="main_content">
