body,
html {
  font-family: 'Kite One', sans-serif;
  background-color: #a1d6e2
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #A43820;
  padding: 7em 0 0;
  border-right: 1px solid #d6dce0;

  #icon {
    width: 40px;
    position: absolute;
    left: 1em;
    top: 1em;
  }

  #icon:hover {
    cursor: none;
  }

  ul {
    list-style: none;
    text-align: right;
    padding-right: 3em;

    .category {
      font-weight: 700;
      font-size: 0.8em;
      text-transform: uppercase;
      color: #14cabb;
    }

    li {
      padding: 0.5em 0;

      a {
        color: #9eafba;
        text-decoration: none;
        transition: all 0.6s ease;

        &:hover {
          color: #0ae496;
        }
      }
    }

    .active {
      a {
        color: #0ae496;
        cursor: url("http://files.gamebanana.com/img/ico/games/banana.gif"), default;
      }
    }
  }
}

.button {
  outline: none;
  background: transparent;
  cursor: url("http://files.gamebanana.com/img/ico/games/banana.gif"), default;
  border: 1px solid #d6dce0;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;

  &:hover {
    border: 1px solid #0ae496;
    color: #0ae496;

    a {
      color: #0ae496;
    }
  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
// Need to push away from sidebar
#main_content {
  margin-left: 250px;

  .signin {
    position: absolute;
    right: 3em;
    top: 32%;
    width: 45%;
    font-size: 0.8em;
    color: #a43820;
  }
  .new_comment{
    margin-left:0%;
  }
    .actions{
      margin-top: -1%;
      margin-left: 3%;
    }
    h1, a{
      margin-left: 1.5em;
    }
  .comment_content{
    .comments_header {
      text-decoration: overline;
      margin-left: 9%;
      margin-top: 10%;
    }
  }
    .comment_body{
      font-size: 0.8em;
      margin-left: -3%;
    }
      .my_edit{
        color:red;
        margin-left: -2%;
        margin-top: -2%;
        font-size:0.5em;
      }
  #header {
    padding: 1em 3em;
    border-bottom: 1px solid #d6dce0;
    background: #f5f7f9;
    color: #9eafba;

    p {
      display: inline;
    }

    h1 {
      font-family: 'Rock Salt';
      font-size: 22px;
      position: absolute;
      top: -4px;
      right: 50%;
      color: #a43820;
    }

    a {
      color: #9eafba;
      text-decoration: none;
      cursor: url("http://files.gamebanana.com/img/ico/games/banana.gif"), default;
    }
    .field{
      float: right;
    }
    .buttons {
      float: right;
      margin-top: -6px;

      .button {
        font-size: 0.8em;
        margin-left: 2.5em;
      }
    }
  }

  .post_wrapper {
    padding: 3em;
    border-bottom: 1px solid #d6dce0;
    text-align: center;

    .title {
      margin: 0;

      a {
        font-weight: 500;
        text-decoration: none;
        color: #276ec3;
        font-size: 1.5em;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  #post_content {
    padding: 1em 3em;

    .title {
      font-weight: 500;
      text-decoration: underline;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }

    .body {
      font-size: 2.1em;
      line-height: 1.75;
    }

    .edit_delete {
      padding: 5px;
    }

    a:hover {
      color: #a43820;
    }

    #page_wrapper {
      padding: 3em;

      #content {
        h1 {
          font-weight: 500;
        }

        p {
          font-size: 1.1em;
          line-height: 1.75;
        }

        a {
          color: #33acb7;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }

  .links {
    margin: 2em 0;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea {
    width: 20%;
    border: 2px solid black;
    border-radius: 0.35em;
    margin-top: 10px;
    padding: 0.5em 1em;
    line-height: 1.75;
    font-size: 1.5em;
  }

  input[type="text"] {
    height: 35px;
    border: 2px solid black;
    font-size: 1.5em;
  }

  textarea {
    min-height: 180px;
  }

  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    padding: 0.5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: 3.5em;

    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
